body {
    font-family: 'Bree Serif';
}
h1{
    color: #FFFFFF;
}
h2{
    color: #FFFFFF;
}
h3{
    color: #FFFFFF;
}
p{
    color: #FFFFFF;
}
b{
    color: #FFFFFF;
}
img{
    ;
}
.jumbotron{
background: transparent;
a{
    color:;
}
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.indent {
    margin-left: 30px;
}
[ ![Codeship Status for AidedPolecat6/Ghostly-Octo-Pug](https://www.codeship.io/projects/e87746a0-43e3-0132-05c0-52041e21b99b/status)](https://www.codeship.io/projects/44756)
